@import "tailwindcss";
@import "tailwindcss-primeui";
@import 'primeicons/primeicons.css';
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #F0FDF4;
  min-height: 100vh;
  transition: color 0.5s,
  background-color 0.5s;
  line-height: 1.6;
  font-family: Inter,
  sans-serif;
}
